# MongoDB
MONGODB_CONNECTION_STRING=mongodb+srv://...
MONGODB_DATABASE_NAME=jobvault

# RabbitMQ (CloudAMQP)
RABBITMQ_CONNECTION_STRING=amqps://...

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# GitHub (for file ingestion pipeline)
GITHUB_TOKEN=
GITHUB_REPO_OWNER=k-bilaluddin
GITHUB_REPO_NAME=job-applications-vault
